// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// --- Fullcalendar
//= require @fullcalendar/core/main.css
//= require @fullcalendar/daygrid/main.css
//= require @fullcalendar/timegrid/main.css
//= require @fullcalendar/list/main.css
//= require @fullcalendar/bootstrap/main.css
