.aside-inner
  %nav.sidebar{"data-sidebar-anyclick-close" => ""}
    %ul.sidebar-nav
      %li.has-user-block
        #user-block.collapse
          .item.user-block
            .user-block-picture
              .user-block-status
                %img.img-thumbnail.rounded-circle{:alt => "Avatar", :height => "60", :src => "#{image_path('angle/user/02.jpg')}", :width => "60"}/
                .circle.circle-success.circle-lg
            .user-block-info
              %span.user-block-name Hello, Mike
              %span.user-block-role Designer
      %li.nav-heading
        %span Main Navigation
      %li{:class => "#{'active' if controller?('singleview') or action?('index')}"}
        %a{:href => "/singleview", :title => "Single View"}
          %em.icon-speedometer
          %span Single View
